# TALLER FINAL PYTHON INTERMEDIO - AVANZADO

**Integrantes:**  
Melissa Angelica Araujo Guzman   
Jhon Jairo Mendez Guaca

**INFORMACION INICIAL**

**Base Tarjetas de crédito**
A partir del corte 29 de septiembre de 2023, las tasas de los productos en UVR no incluyen la variación de la UVR.
La información corresponde a las tasas de interés promedio ponderadas, el monto y el número de créditos desembolsados durante la semana para los diferentes tipos de crédito (consumo, vivienda, comercial ordinario, comercial preferencial o corporativo, comercial tesorería, comercial especial y créditos productivos), clasificadas por tipo de persona, sexo, tamaño de empresa, tipo de crédito, tipo de garantía, producto de crédito, plazo del crédito, grupo étnico, antigüedad de la empresa, tipo de tasa, rango por monto desembolsado en salarios mínimos legales mensuales vigentes (SMLMV), clase de deudor, código CIIU y código del municipio, de los establecimientos de crédito.
Base_final_s.csv ubicada en el repositorio de datos del curso.

La base completa con más de 40 millones de registros puede ser consultada en el siguiente site:
https://www.datos.gov.co/Econom-a-y-Finanzas/Tarjetas-de-cr-dito-Colombia/innv-fdhy

**Códigos municipios**
Código de la división Político Administrativa del país, Actualización a corte 30 diciembre 2024.
La base debe ser descargada mediante automatización desde el siguiente site:
https://www.datos.gov.co/Mapas-Nacionales/DIVIPOLA-C-digos-municipios/gdxc-w37w/about_data

**Solicitudes de crédito**
Contiene los valores y plazos de crédito libre inversión que deben ser simulados mediante automatización en el site:
https://www.bancodeoccidente.com.co/solicitarcredito/#/simuladorCreditoConsumo

**Cálculo tasas**  
Función que permite hallar la tasa efectiva anual y efectiva mensual de una solicitud de crédito, partiendo del valor solicitado, plazo y valor de cuota.

**Proceso:**  
**1.** Realizar un análisis descriptivo de la base con la información de las tarjetas de crédito.  Este análisis debe ser lo suficientemente claro para entender los datos y comprender la información más relevante de la base.  
**2.** Descargar de forma automática el archivo del divipola para poder insertar el nombre de los municipios a la base con información de tarjeta de crédito.  
**3.** Automatizar el proceso de consulta de solicitudes de crédito con la información del archivo solicitudes en la url del banco de occidente.

**Resultados Solicitados:**  
**1.** Archivo de Excel con la información de las solicitudes de crédito, complementando la información ya entregada con el valor de la cuota, la tasa efectiva anual y la tasa efectiva mensual.  
**2.** Archivo de Excel que contenga las siguientes tablas:  
     **-** Cantidad de desembolsos realizados por cada entidad financiera por cada tipo de crédito.  
     **-** Cantidad de desembolsos realizados por entidad financiera de acuerdo al sexo.  
     **-** Top 7 de municipios con mayor número de desembolsos.  
     **-** Top 7 de municipios con menor número de desembolsos.  
     **-** Cantidad de desembolsos realizados por la entidad en función del rango del desembolso.     
     **-** Top 10 de municipios con mayor número de desembolsos desagregados por Sexo.

**Condiciones:**  
**1.** En el archivo de salida con las tablas, cada tabla corresponde a una hoja del mismo Excel.  
**2.** El proceso de datos debe darse aplicando funciones, es decir, cada acción que realice el código debe ser mediante la invocación de una función.  Estas funciones no deben estar en el mismo query de ejecución, sino en uno o varios archivos .py que se alojen en la carpeta 03_Querys. Esto indica que usted deberá tener un archivo inicializador, que se encargue de cargar las librerías, datos y querys con las funciones requeridas.  En este notebook inicializador deben poder verse los resultados del análisis descriptivo (Tablas y gráficos)  
**3.** El código debe estar correctamente comentado y segmentado.  
**4.** Considere que el query va a realizar diferentes acciones: Carga de datos, procesamiento, conexiones URL, descarga de datos.  Determine el mejor orden de realizar estas acciones y considere fallas de conectividad que puedan afectar su ejecución.  
**5.** La base entregada tiene cerda de 5 millones de filas, pero la base de estrés tiene más de 40 millones, por lo cuál realice una lógica que pueda abordar este volumen de información; no genere bucles innecesarios o reprocesamiento de data no requerida.  
**6.** La entrega será una carpeta en .zip (comprimida) que debe seguir la misma estructura de datos entregada en la carpeta del proyecto final.

**IMPORTAMOS LIBRERIAS REQUERIDAS**

In [16]:
import asyncio
import nest_asyncio
from playwright.async_api import async_playwright
import requests
from bs4 import BeautifulSoup
import pandas as pd
import data_loader

**CARGUE DE FUNCIONES**

In [18]:
import nest_asyncio
import asyncio

# Aplicamos nest_asyncio
nest_asyncio.apply()

# Ejecutamos el notebook
%run data_loader.py

# Ahora ejecutamos la función main en este notebookasyncio.run(main())

# Puedes acceder a la variable 'df' desde el nuevo notebook
print(df_resultados_global.head())
df_resultados_global

Iniciando la carga del archivo 'base_final_s.csv'... Por favor, espera.
Carga completada exitosamente en 34.68 segundos.
Dimensiones del DataFrame: (5340181, 24)

La carga del archivo base_final_s.csv se realizó con éxito.
   Código Departamento Nombre Departamento  Código Municipio Nombre Municipio  \
0                    5           ANTIOQUIA              5001         MEDELLÍN
1                    5           ANTIOQUIA              5002        ABEJORRAL
2                    5           ANTIOQUIA              5004         ABRIAQUÍ
3                    5           ANTIOQUIA              5021       ALEJANDRÍA
4                    5           ANTIOQUIA              5030            AMAGÁ

  Tipo: Municipio / Isla / Área no municipalizada    longitud   Latitud
0                                       Municipio  -75,581775  6,246631
1                                       Municipio  -75,428739  5,789315
2                                       Municipio  -76,064304  6,632282
3                                       Municipio  -75,141346  6,376061
4                                       Municipio  -75,702188  6,038708
   Código Departamento Nombre Departamento  Código Municipio Nombre Municipio  \
0                    5           ANTIOQUIA              5001         MEDELLÍN
1                    5           ANTIOQUIA              5002        ABEJORRAL
2                    5           ANTIOQUIA              5004         ABRIAQUÍ
3                    5           ANTIOQUIA              5021       ALEJANDRÍA
4                    5           ANTIOQUIA              5030            AMAGÁ

  Tipo: Municipio / Isla / Área no municipalizada    longitud   Latitud
0                                       Municipio  -75,581775  6,246631
1                                       Municipio  -75,428739  5,789315
2                                       Municipio  -76,064304  6,632282
3                                       Municipio  -75,141346  6,376061
4                                       Municipio  -75,702188  6,038708
  ValorCredito Plazo  valor_cuota
0      2000000    12       196038
1      2000000    24       112941
2      2000000    36        86091
3      2000000    48            0
4      3000000    24       169411

  ValorCredito Plazo  valor_cuota
0      2000000    12       196038
1      2000000    24       112941
2      2000000    36        86091
3      2000000    48            0
4      3000000    24       169411
5      3000000    36       129136
6      4500000     6            0
7      4500000    24       254116
8     10000000    24       564703
9     10000000    36       430453

In [6]:
df_resultados_global

  ValorCredito Plazo  valor_cuota
0      2000000    12       196038
1      2000000    24       112941
2      2000000    36        86091
3      2000000    48            0
4      3000000    24       169411
5      3000000    36       129136
6      4500000     6            0
7      4500000    24       254116
8     10000000    24       564703
9     10000000    36       430453

In [10]:
# Cargar el archivo CSV base_final_s.csv
base = data_loader.cargar_base_datos('../01_Datos/base_final_s.csv')

# Verificar si se cargó correctamente
if base is not None:
    print(base.head())
else:
    print("No se puede proceder porque la carga falló.")

# Cargar el archivo desde DIVIPOLA
df_divipola = data_loader.cargar_divipola()
print(df_divipola.head())

NameError: name 'data_loader' is not defined