In [13]:
import pandas as pd

# Cargar la función calcular_tasa desde otro archivo .py
# Supongamos que está en un archivo llamado 'calcular_tasa.py'
from calculo_tasa import calcular_tasa

# Cargar el DataFrame desde el archivo CSV
df = pd.read_csv('resultados_simulacion.csv')

# Define una función para aplicar la función calcular_tasa en cada fila del DataFrame
def aplicar_calcular_tasa(row):
    P = row['ValorCredito']
    A = row['valor_cuota']
    n = row['Plazo']
    tasa_efectiva_anual, tasa_mensual = calcular_tasa(P, A, n)
    return pd.Series({'tasa_efectiva_anual': tasa_efectiva_anual, 'tasa_mensual': tasa_mensual})

# Aplica la función a cada fila del DataFrame
resultados = df.apply(aplicar_calcular_tasa, axis=1)

# Combina los resultados con el DataFrame original
df_resultado = pd.concat([df, resultados], axis=1)

# Muestra el DataFrame resultante
print(df_resultado)

# Opcional: Guardar el DataFrame resultante en un archivo CSV
df_resultado.to_csv('dataframe_resultado.csv', index=False)

TypeError: can't multiply sequence by non-int of type 'float'

In [7]:
df_resultados_global

NameError: name 'df_resultados_global' is not defined

In [3]:
import pandas as pd

# Cargar la función calcular_tasa desde otro archivo .py
# Supongamos que está en un archivo llamado 'calcular_tasa.py'
from calculo_tasa import calcular_tasa

# Cargar el DataFrame desde el archivo CSV
df = pd.read_csv('resultados_simulacion.csv')

# Asegurarse de que las columnas sean del tipo correcto (númerico)
df['ValorCredito'] = pd.to_numeric(df['ValorCredito'], errors='coerce')
df['Plazo'] = pd.to_numeric(df['Plazo'], errors='coerce')
df['valor_cuota'] = pd.to_numeric(df['valor_cuota'], errors='coerce')

# Define una función para aplicar la función calcular_tasa en cada fila del DataFrame
def aplicar_calcular_tasa(row):
    P = row['ValorCredito']
    A = row['valor_cuota']
    n = row['Plazo']
    tasa_efectiva_anual, tasa_mensual = calcular_tasa(P, A, n)
    return pd.Series({'tasa_efectiva_anual': tasa_efectiva_anual, 'tasa_mensual': tasa_mensual})

# Aplica la función a cada fila del DataFrame
resultados = df.apply(aplicar_calcular_tasa, axis=1)

# Combina los resultados con el DataFrame original
df_resultado = pd.concat([df, resultados], axis=1)

# Muestra el DataFrame resultante
print(df_resultado)

# Opcional: Guardar el DataFrame resultante en un archivo CSV
df_resultado.to_csv('dataframe_resultado.csv', index=False)

   ValorCredito  Plazo  valor_cuota  tasa_efectiva_anual  tasa_mensual
0       2000000     12          NaN                  NaN           NaN
1       2000000     24          NaN                  NaN           NaN
2       2000000     36          NaN                  NaN           NaN
3       2000000     48          NaN                  NaN           NaN
4       3000000     24          NaN                  NaN           NaN
5       3000000     36          NaN                  NaN           NaN
6       4500000      6          NaN                  NaN           NaN
7       4500000     24          NaN                  NaN           NaN
8      10000000     24          NaN                  NaN           NaN
9      10000000     36          NaN                  NaN           NaN

In [5]:
df

   ValorCredito  Plazo  valor_cuota
0       2000000     12          NaN
1       2000000     24          NaN
2       2000000     36          NaN
3       2000000     48          NaN
4       3000000     24          NaN
5       3000000     36          NaN
6       4500000      6          NaN
7       4500000     24          NaN
8      10000000     24          NaN
9      10000000     36          NaN